button {
  width: 85px;
  height: 85px;
  margin-right: 6px;
  margin-bottom: 6px;
  font-size: large;
  font-weight: bold;
}

.App {
  text-align: center;
  font-family: "Rubik Glitch", cursive;
}

#calculator-body {
  background-color: hotpink;
  padding-top: 5px;
  padding-left: 6px;
  width: 375px;
  margin: 20px auto;
}

#display {
  width: 338px;
  margin: 10px 6px;
  padding: 5px 10px;
  background-color: #b2b8c2;
  color: #242526;
  font-size: xx-large;
  text-align: right;
}
